MODE=DEV
LOG_LEVEL=DEBUG

DB_HOST=db
DB_PORT=5432
DB_NAME=converter_db
DB_USER=postgres
DB_PASSWORD=your_password

SECRET_KEY=your_secret_key
ALGORITHM=HS256

# Секретный ключ можно сгенерировать следующей командой в терминале
# python -c "import secrets; print(secrets.token_hex(32))"